[submodule "lib/flecs"]
	path = lib/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/optick"]
	path = lib/optick
	url = https://github.com/bombomby/optick.git
[submodule "lib/etc2comp"]
	path = lib/etc2comp
	url = https://github.com/google/etc2comp.git
[submodule "lib/taskflow"]
	path = lib/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "lib/vulkan-headers"]
	path = lib/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk.git
[submodule "lib/easy_profiler"]
	path = lib/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git